<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <h2> LISTADO DE ANUNCIOS
    </h2><br>
    


      <% for(let advertise of resultSet){%>
        
      
        </p><b>Modelo: </b> <%= advertise.nombre %> </p> <b>Precio:</b> <%= advertise.precio %> EUROS 
        <p></p> <b>Tags:</b> <%= advertise.tags %>  </p>
        <p></p> <b>En venta:</b> <%= advertise.venta %>  </p>
        
        <%}%>
      
   
     

  </body>
</html>

